@charset "UTF-8";

header{width: 100%; height: auto; }
header video{width: 100%; height: auto;}
#headerul{position: absolute;left: 10%; top: 5%;}
#headerul ul{display: flex; justify-content: space-around; align-items: center; width: 600px;}
#headerul li a{font-size: 30px; color: white; font-weight: bold; }
#headerul a:hover{color: orange;}