@charset "UTF-8";


@media (max-width:599px) 
{}

@media (min-width:600px) {
        #sub_start{width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-evenly;}

        #section_left{width: 95%; height: auto; display: flex; flex-direction: column; align-items: center;
                          justify-content: space-around;}
        #left_one{width: 95%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly;}
        #title_one{width: 90%; height: auto; margin-left: 2%;}
        #title_one h1{font-weight: bold; color: orange;}
        #imgbox_one{width: 95%; height: auto; display: flex; justify-content: space-evenly; flex-direction: row; }
        #imgbox_one #half_width{width: 100%; height: 100%; border-radius: 5px;}
        #imgbox_1-2{width: 60%; height: auto; display: flex; justify-content: space-evenly; flex-wrap: wrap;}
        #imgbox_1-2 img{width: 100%; height: 100%; border-radius: 5px;}
        #one_overflowhidden1{width: 45%; height: auto; overflow: hidden; border-radius: 5px; border: 1px solid orange;}
        #one_overflowhidden2{width: 48%; height: 47%; overflow: hidden; border-radius: 5px; border: 1px solid orange;}
        #imgbox_one img:hover{transform: scale(1.2); transition: 0.5s ease-in-out; cursor: pointer;} 
        #text_one{width: 95%; height: 49%;}
        #text_one span{font-size: 1em;}
        #text_one button{width: 80px; height: 30px; border-radius: 15px; border: hidden; border: 1px solid orange;
                         color: black; background-color: white; font-weight: bold; cursor: pointer;}
        #text_one button:hover{transition: 0.2s ease-in-out; background-color: orange; opacity: 0.9;}
        
        #left_two{width: 95%; height: auto; display: flex; flex-direction: column; justify-content: space-evenly;}
        #title_two{width: 95%; height: auto; margin-left: 2%;}
        #title_two h1{font-weight: bold; color: orange;}
        #toggle_box{width: 95%; height: auto; display: flex; flex-direction: column; 
                    justify-content: space-evenly; }
        #toggle_one{width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; }            
        #toggle_one #toggle_btn1{margin: 0; width: 99%; height: 50px; background: none;
                           border: 3px solid orange; border-radius: 15px; font-size: 100%; cursor: pointer; font-weight: bold;}
        #toggle_box1{width: 100%; height: auto; display: none;}                   
        #toggle_one #toggle_imgbox1{width: 100%;height: 250px; display: flex; justify-content: space-evenly; 
                                align-items: center; flex-direction: row;}         
        #toggle_one #toggle_imgbox1 img{width: 49%; height: 250px; border-radius: 5px;}
        #toggle_one #toggle_textbox1{width: 99%; height: auto; margin-top: 10px;}
        
        #toggle_two{width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; }            
        #toggle_two #toggle_btn2{margin: 0; width: 99%; height: 50px; background: none;
                border: 3px solid orange; border-radius: 15px; font-size: 100%; cursor: pointer; font-weight: bold;}
        #toggle_box2{width: 100%; height: auto; display: none;}                   
        #toggle_two #toggle_imgbox2{width: 100%;height: 250px; display: flex; justify-content: space-evenly; 
                                align-items: center; flex-direction: row;}         
        #toggle_two #toggle_imgbox2 img{width: 49%; height: 250px; border-radius: 5px;}
        #toggle_two #toggle_textbox2{width: 99%; height: auto; margin-top: 10px; }
        
        #toggle_three{width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; }            
        #toggle_three #toggle_btn3{margin: 0; width: 99%; height: 50px; background: none;
                border: 3px solid orange; border-radius: 15px; font-size: 100%; cursor: pointer; font-weight: bold;}
        #toggle_box3{width: 100%; height: auto; display: none;}                   
        #toggle_three #toggle_imgbox3{width: 100%;height: 250px; display: flex; justify-content: space-evenly; 
                                align-items: center; flex-direction: row;}         
        #toggle_three #toggle_imgbox3 img{width: 49%; height: 250px; border-radius: 5px;}
        #toggle_three #toggle_textbox3{width: 99%; height: auto; margin-top: 10px;}
        #left_two button:hover{transform: scale(1.1); transition: 0.2s ease-in-out; opacity: 0.9;}
        
        #left_three{width: 95%; height: auto; display: flex; flex-direction: column;
                    justify-content: space-evenly;}
        #title_three{width: 95%; height: 90%; margin-left: 2%;}       
        #title_three h1{font-weight: bolder; color: orange;}  
        #three_box{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; }
        #three_box #three_imgbox{width: 95%; height: 95%; display: flex; justify-content: space-evenly; align-items: center;}
        #three_box #three_imgbox div{width: 32%; height: 100%; overflow: hidden; border-radius: 5px; border: 1px solid orange;}
        #three_box #three_imgbox div img{width: 100%; height: 100%; cursor: pointer; border-radius: 5px;}
        #three_box #three_textbox{width: 94%; height: 47%; font-size: 90%;}
        #three_box #three_imgbox div img:hover{transform: scale(1.2); transition: 0.5s ease-in-out;}
        
        #left_four{width: 95%; height: auto; display: flex; flex-direction: column; 
                   justify-content: space-evenly;}
        #title_four{width: 95%; height: 90%; margin-left: 2%;}
        #title_four h1{font-weight: bolder; color: orange;}
        #video_box{width: 95%; height: 100%; }
        #video_box video{width: 100%; height: auto; border-radius: 10px;}
        
        
        #section_right{width: 35%; height: 800px;  margin-top: 65px;
                       display: flex; flex-direction: column; justify-content: space-evenly;}
        
        #right_one{width: 90%; height: 45px; margin: 0; display: flex; flex-direction: row; }
        #right_one input{width: 90%; height: 40px; border: 3px double orange; border-right: 1px solid orange; font-size: 20px;} 
        #search_box{width: 10%; height: 40px; border: 3px double orange; border-left: none; cursor: pointer;}
        #right_one #search{width: 30px; height: 40px; }
        #right_one #search:hover{transition: 0.2s ease-in-out; background-color: #f2f2f2; }
        
        #right_two{ width: 90%; height: 150px; display: flex; flex-direction: column; justify-content: space-evenly;}
        #title_five{width: 90%; height: 35px; margin: 0; }
        #title_five h2{font-weight: bolder; color: orange;}
        #tags{width: 90%; height: 80px; display: flex; flex-wrap: wrap; justify-content: space-evenly; 
                align-items: center; margin: 0; }
        #tags button{width: 32%; height: 30px; background-color: white; border: 1px solid orange; border-radius: 15px; font-size: 50%;}
        #tags #width{width: 50%; height: 30px; margin-left: 3px; margin-right: 0; font-size: 50%;}
        #tags #margin{margin-left: 3px;}
        #tags button:hover{transition: 0.2s ease-in-out; background-color: orange; cursor: pointer;}
        
        #right_three{width: 90%; height: 220px; display: flex; flex-direction: column; 
                     justify-content: space-evenly; }
        #title_six{width: 90%; height: 35px; margin: 0; }
        #title_six h2{font-weight: bolder; color: orange;}
        #category_box{width: 90%; height: 150px; display: flex; flex-direction: column; align-items: center;}
        #category_box span{font-size: 18px; width: 300px; height: 35px; border-bottom:1px solid orange ;}
        #category_box span b{font-size: 15px; font-weight: normal;}
        #category_box span:hover{transition: 0.2s ease-in-out; background-color: #f2f2f2; cursor: pointer;}
        
        #right_four{width: 90%; height: auto; display: flex; flex-direction: column; 
                     justify-content: space-evenly; }
        #title_seven{width: 90%; height: 35px; margin: 0; }
        #title_seven h2{font-weight: bolder; color: orange;}
        #map{width: 90%; height: auto;}
        #map button{border: none;}
        #map img{width: 100%; height: auto; cursor: pointer;}
        #box{display: none; position: fixed; top: 10%; left: 20%; width: 70%; height: 70%; text-align: center;background-color: gray; }
        #box #cbtn{width: 100%; height: 100%;}
        #box #cbtn:hover{transition: 0.2s ease-in-out; opacity: 0.5; cursor: pointer;}
        
}

@media (min-width:1200px) {
        #sub_start{width: 1200px; height: auto; display: flex; flex-direction: row; justify-content: space-evenly;}

        #section_left{width: 840px; height: auto; display: flex; flex-direction: column; align-items: center;
                          justify-content: space-around;}
        #left_one{width: 840px; height: 600px; display: flex; flex-direction: column; justify-content: space-evenly;}
        #title_one{width: 230px; height: auto; margin: 0;}
        #title_one h1{font-weight: bold; color: orange;}
        #imgbox_one{width: 840px; height: 400px; display: flex; justify-content: space-evenly; flex-direction: row; }
        #imgbox_one #half_width{width: 415px; height: 390px; border-radius: 5px;}
        #imgbox_1-2{width: 415px; height: 400px; display: flex; justify-content: space-evenly; flex-wrap: wrap;}
        #imgbox_1-2 img{width: 200px; height: 190px; border-radius: 5px;}
        #one_overflowhidden1{width: 415px; height: 390px; overflow: hidden; border-radius: 5px; border: 1px solid orange;}
        #one_overflowhidden2{width: 200px; height: 190px; overflow: hidden; border-radius: 5px; border: 1px solid orange;}
        #imgbox_one img:hover{transform: scale(1.2); transition: 0.5s ease-in-out; cursor: pointer;} 
        #text_one{width: 820px; height: auto;}
        #text_one span{font-size: 15px;}
        #text_one button{width: 80px; height: 30px; border-radius: 15px; border: hidden; border: 1px solid orange;
                         color: black; background-color: white; font-weight: bold; cursor: pointer;}
        #text_one button:hover{transition: 0.2s ease-in-out; background-color: orange; opacity: 0.9;}
        
        #left_two{width: 840px; height: auto; display: flex; flex-direction: column; justify-content: space-evenly;}
        #title_two{width: 100%; height: auto; margin: 0;}
        #title_two h1{font-weight: bold; color: orange;}
        #toggle_box{width: 840px; height: auto; display: flex; flex-direction: column; 
                    justify-content: space-evenly; }
        #toggle_one{width: 840px; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; }            
        #toggle_one #toggle_btn1{margin: 0; width: 400px; height: 50px; background: none;
                           border: 3px solid orange; border-radius: 15px; font-size: 25px; cursor: pointer;}
        #toggle_box1{width: 840px; height: auto; display: none;}                   
        #toggle_one #toggle_imgbox1{width: 840px;height: 250px; display: flex; justify-content: space-evenly; 
                                align-items: center; flex-direction: row;}         
        #toggle_one #toggle_imgbox1 img{width: 415px; height: 250px; border-radius: 5px;}
        #toggle_one #toggle_textbox1{width: 820px; height: 110px; margin-top: 10px;}
        
        #toggle_two{width: 840px; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; }            
        #toggle_two #toggle_btn2{margin: 0; width: 400px; height: 50px; background: none;
                           border: 3px solid orange; border-radius: 15px; font-size: 25px; cursor: pointer;}
        #toggle_box2{width: 840px; height: auto; display: none;}                   
        #toggle_two #toggle_imgbox2{width: 840px;height: 250px; display: flex; justify-content: space-evenly; 
                                align-items: center; flex-direction: row;}         
        #toggle_two #toggle_imgbox2 img{width: 415px; height: 250px; border-radius: 5px;}
        #toggle_two #toggle_textbox2{width: 820px; height: 170px; margin-top: 10px; }
        
        #toggle_three{width: 840px; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; }            
        #toggle_three #toggle_btn3{margin: 0; width: 400px; height: 50px; background: none;
                           border: 3px solid orange; border-radius: 15px; font-size: 25px; cursor: pointer;}
        #toggle_box3{width: 840px; height: auto; display: none;}                   
        #toggle_three #toggle_imgbox3{width: 840px;height: 250px; display: flex; justify-content: space-evenly; 
                                align-items: center; flex-direction: row;}         
        #toggle_three #toggle_imgbox3 img{width: 415px; height: 250px; border-radius: 5px;}
        #toggle_three #toggle_textbox3{width: 820px; height: 150px; margin-top: 10px;}
        #left_two button:hover{transform: scale(1.1); transition: 0.2s ease-in-out; opacity: 0.9;}
        
        #left_three{width: 840px; height: 400px; display: flex; flex-direction: column;
                    justify-content: space-evenly;}
        #title_three{width: 230px; height: auto; margin: 0;}       
        #title_three h1{font-weight: bolder; color: orange;}  
        #three_box{width: 840px; height: 353px; display: flex; flex-direction: column; justify-content: space-evenly; }
        #three_box #three_imgbox{width: 840px; height: 250px; display: flex; justify-content: space-evenly; align-items: center;}
        #three_box #three_imgbox div{width: 270px; height: 250px; overflow: hidden; border-radius: 5px; border: 1px solid orange;}
        #three_box #three_imgbox div img{width: 270px; height: 250px; cursor: pointer; border-radius: 5px;}
        #three_box #three_textbox{width: 820px; height: 65px; }
        #three_box #three_imgbox div img:hover{transform: scale(1.2); transition: 0.5s ease-in-out;}
        
        #left_four{width: 840px; height: 540px; display: flex; flex-direction: column; 
                   justify-content: space-evenly;}
        #title_four{width: 230px; height: auto; margin: 0;}
        #title_four h1{font-weight: bolder; color: orange;}
        #video_box{width: 830px; height: 470px; }
        #video_box video{width: 830px; height: 470px; border-radius: 10px;}
        #left_four br{display: none;}
        
        
        #section_right{width: 300px; height: 800px;  margin-top: 65px;
                       display: flex; flex-direction: column; justify-content: space-evenly;}
        
        #right_one{width: 235px; height: 45px; margin: 0; display: flex; flex-direction: row; }
        #right_one input{width: 200px; height: 40px; border: 3px double orange; border-right: 1px solid orange; font-size: 20px;} 
        #search_box{width: 30px; height: 40px; border: 3px double orange; border-left: none; cursor: pointer;}
        #right_one #search{width: 30px; height: 40px; }
        #right_one #search:hover{transition: 0.2s ease-in-out; background-color: #f2f2f2; }
        
        #right_two{ width: 300px; height: 150px; display: flex; flex-direction: column; justify-content: space-evenly;}
        #title_five{width: 80px; height: 35px; margin: 0; }
        #title_five h2{font-weight: bolder; color: orange;}
        #tags{width: 280px; height: 80px; display: flex; flex-wrap: wrap; justify-content: space-evenly; 
                align-items: center; margin: 0; }
        #tags button{width: 90px; height: 30px; background-color: white; border: 1px solid orange; border-radius: 15px;}
        #tags #width{width: 110px; height: 30px; margin-left: 3px; margin-right: 0;}
        #tags #margin{margin-left: 3px;}
        #tags button:hover{transition: 0.2s ease-in-out; background-color: orange; cursor: pointer;}
        
        #right_three{width: 300px; height: 220px; display: flex; flex-direction: column; 
                     justify-content: space-evenly; }
        #title_six{width: 110px; height: 35px; margin: 0; }
        #title_six h2{font-weight: bolder; color: orange;}
        #category_box{width: 300px; height: 150px; display: flex; flex-direction: column; align-items: center;}
        #category_box span{font-size: 18px; width: 300px; height: 35px; border-bottom:1px solid orange ;}
        #category_box span b{font-size: 15px; font-weight: normal;}
        #category_box span:hover{transition: 0.2s ease-in-out; background-color: #f2f2f2; cursor: pointer;}
        
        #right_four{width: 300px; height: 370px; display: flex; flex-direction: column; 
                     justify-content: space-evenly; }
        #title_seven{width: 200px; height: 35px; margin: 0; }
        #title_seven h2{font-weight: bolder; color: orange;}
        #map{width: 300px; height: 280px;}
        #map button{border: none;}
        #map img{width: 300px; height: 280px; cursor: pointer;}
        #box{display: none; position: fixed; top: 10%; left: 30%; width: 900px; height: 800px; text-align: center;background-color: gray; }
        #box #cbtn{width: 100%; height: 100%;}
        #box #cbtn:hover{transition: 0.2s ease-in-out; opacity: 0.5; cursor: pointer;}
        
}




